.vraboti {
    padding: 9.6rem 0 12rem;
    background-color: var(--color-primary);
}



.cta-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
    font-size: 1.3rem;
    color: var(--grey-dark-1);

    & *:focus {
        outline: none;
        box-shadow: 0 0 0 0.8rem rgba(255 252 229 / 50%);
    }

    & > * {
        flex-basis: calc(50% - 1rem);

        @media (max-width:768px) {
            flex-basis: 100%;
        }
    }

    & label {
        display: block;
        font-weight: 700;
        margin-bottom: 7px;

        @media (max-width:900px) {
            font-size: 1.6rem;
         }
   
    }

    & input,
    & select {
        display: block;
        width: 100%;
        font-family: inherit;
        color: inherit;
        padding: 1.4rem;
        border-radius:5px;
        border: none;
        box-shadow: 0 1px 2px rgba(0 0 0 / 10%);

        &::placeholder {
            font-style: italic;
            color: var(--grey-light-4);
        }
    }

    & input {
        border: 2px solid transparent;
    }

    & select {
        font-weight: 700;
        cursor: pointer;
    }

    & small {
        position: absolute;
        color: var(--color-secondary);
        visibility: hidden;
        bottom: -20px;
        left: 0;
        font-size: 1.3rem;

        @media (max-width:900px) {
           font-size: 1.4rem;
        }
      
    }

    
}

.form-container {
    position: relative;

   
}

.form-container.error input {
    border: 2px solid #eb3b3b;
    // box-shadow: 0px 0px 7px 1px rgba(255,46,46,0.8);
    
}
.form-container.success input {
    border: 2px solid #2ecc71;
}


.form-container.error small {
    visibility: visible;
}


